/* ----------- Variables ----------- */
:root {
  --aud-primary-color: #d87d4a;
  --aud-primary-color-light: #fbaf85;
  --aud-black-soft: #101010;
  --aud-gray: #f1f1f1;
  --aud-gray-soft: rgba(245, 245, 245, 0.51);
  --aud-white: #fff;
}

/* ----------- Global Styles ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--aud-primary-color);
  color: var(--aud-white);
}
.btn-primary:hover {
  background-color: var(--aud-primary-color-light);
}

.tablet,
.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (min-height: 451px) and (max-width: 768px) {
  .desktop,
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  .btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .desktop,
  .tablet {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .btn {
    font-size: 0.7rem !important;
  }
  .container {
    padding: 0 10px !important;
  }
  .flex-col {
    padding: 10px 0px !important;
  }
}
/* ----------- Header ----------- */
.header {
  height: 80px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aud-black-soft);
  z-index: 500;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1.3px solid rgba(204, 204, 204, 0.13);
}
.header h1 {
  color: var(--aud-white);
  font-size: 1.7rem;
  font-weight: 600;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header ul li {
  list-style: none;
}
.header ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--aud-white);
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.header ul a:hover {
  color: var(--aud-primary-color);
}
.header .cart-icon,
.header .menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--aud-white);
}
.header .menu-icon {
  display: none;
}
@media (min-height: 451px) and (max-width: 768px) {
  .header .menu-icon {
    display: block;
  }
  .header ul {
    display: none;
  }
}

/* ----------- Hero Section ----------- */
.hero {
  height: 100vh;
  background-image: url("../assets/home/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero .content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero .content .hero-text {
  height: 50%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.hero .content .hero-text h3 {
  letter-spacing: 10px;
  color: var(--aud-gray-soft);
  font-size: 0.8rem;
  font-weight: 300;
}
.hero .content .hero-text h1 {
  color: var(--aud-white);
  font-size: 3rem;
}
.hero .content .hero-text p {
  color: var(--aud-gray);
  font-weight: 300;
  max-width: 60%;
  line-height: 1.5rem;
}
.hero .content .hero-text .btn {
  margin-top: 20px;
}
@media (min-height: 451px) and (max-width: 768px) {
  .hero {
    background-image: url("../assets/home/tablet/image-header.jpg");
  }
  .hero .content {
    justify-content: center;
    gap: 10px;
  }
  .hero .content .hero-text {
    max-width: 60%;
    align-items: center;
  }
  .hero .content .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero .content .hero-text p {
    text-align: center;
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .hero {
    background-image: url("../assets/home/mobile/image-header.jpg");
  }
  .hero .content {
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .hero .content .hero-text {
    max-width: 100%;
    width: 100%;
  }
  .hero .content .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero .content .hero-text p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}

/* ----------- Categories  ------------ */
.categories {
  padding: 80px 0;
}
.categories .grid-display {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.categories .grid-display .category {
  min-height: 280px;
  border-radius: 5px;
  position: relative;
}
.categories .grid-display .category .category-image {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 5;
}
.categories .grid-display .category .category-image img {
  width: 60%;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.categories .grid-display .category .category-text {
  gap: 4px;
  height: 70%;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--aud-gray);
}
.categories .grid-display .category .category-text .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 5rem;
}
.categories .grid-display .category .category-text h3 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.categories .grid-display .category .category-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
.categories .grid-display .category .category-text a p {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.categories .grid-display .category .category-text a .forward-icon {
  color: var(--aud-primary-color);
}
.categories .grid-display .category .category-text a:hover {
  color: var(--aud-primary-color);
}
@media screen and (max-width: 768px) {
  .categories .category {
    min-height: 250px !important;
  }
  .categories .category-image img {
    width: 90% !important;
  }
  .categories .text {
    margin-top: 4rem !important;
  }
}
@media (max-width: 450px) {
  .categories .grid-display {
    grid-template-columns: repeat(1, 1fr);
  }
  .categories .category {
    min-height: 250px !important;
  }
  .categories .category-image img {
    width: 60% !important;
  }
  .categories .text {
    margin-top: 5rem !important;
  }
  .categories .text h3 {
    font-size: 0.8rem !important;
  }
}

/* ---------- Showcase Area 1 --------- */
.speaker-showcase {
  padding: 80px 0 20px 0;
  margin: 0px 10px;
}
.speaker-showcase .showcase-area {
  height: 70vh;
}
.speaker-showcase .showcase-area .display-grid {
  height: 100%;
  display: grid;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: bottom left;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--aud-primary-color);
  background-image: url("/assets/img/pattern-circles.svg");
}
.speaker-showcase .showcase-area .display-grid .speaker-img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.speaker-showcase .showcase-area .display-grid .speaker-img img {
  width: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.speaker-showcase .showcase-area .display-grid .text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.speaker-showcase .showcase-area .display-grid .text h1 {
  color: #fff;
  font-size: 2rem;
}
.speaker-showcase .showcase-area .display-grid .text p {
  color: #f1f1f1;
  font-weight: 300;
  max-width: 70%;
  font-size: 0.9rem;
  margin: 1rem 0rem;
}
.speaker-showcase .showcase-area .display-grid .text .btn {
  background-color: #fff;
  color: var(--aud-primary-color);
}
.speaker-showcase .showcase-area .display-grid .text .btn:hover {
  background-color: var(--aud-black-soft);
  color: var(--aud-white);
}
@media screen and (max-width: 768px) {
  .speaker-showcase .showcase-area {
    min-height: 60vh;
    height: auto;
  }
  .speaker-showcase .showcase-area .display-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .speaker-showcase .showcase-area .display-grid img {
    max-width: 40%;
    padding: 20px 0px;
  }
  .speaker-showcase .showcase-area .display-grid .text div {
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }
  .speaker-showcase .showcase-area .display-grid .text div .product-name {
    padding: 10px 0;
  }
}
@media (max-width: 450px) {
  .speaker-showcase .showcase-area .display-grid {
    padding: 20px 0 !important;
  }
  .speaker-showcase .showcase-area .display-grid .text .product-name h1 {
    font-size: 1.5rem !important;
    text-align: center !important;
  }
  .speaker-showcase .showcase-area .display-grid p {
    text-align: center !important;
  }
}

/* ---------- Showcase Area 2 --------- */
.showcase-2 .display-grid {
  gap: 20px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.showcase-2 .showcase-area-two {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
  gap: 10px;
  grid-column: span 2/span 2;
}
.showcase-2 .showcase-item-1,
.showcase-2 .showcase-item-2 {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.showcase-2 .showcase-item-1 {
  background-size: cover;
  background-position: center;
  background-image: url("/assets/home/desktop/image-earphones-yx1.jpg");
}
.showcase-2 .showcase-item-2 {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  background-color: var(--aud-gray);
}
.showcase-2 h1 {
  color: var(--aud-black-soft);
  font-weight: 500;
}
.showcase-2 .btn {
  margin-top: 10px;
  background-color: inherit;
  border: 2px solid var(--aud-black-soft);
  text-transform: capitalize;
}
.showcase-2 .btn:hover {
  background-color: var(--aud-black-soft);
  color: var(--aud-white);
}
@media (max-width: 450px) {
  .showcase-2 .display-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .showcase-2 .showcase-area-two {
    padding: 0 20px;
  }
  .showcase-2 .showcase-item-1 {
    padding: 10px 0px !important;
  }
}/*# sourceMappingURL=main.css.map */