/* ----------- Variables ----------- */
:root {
  --aud-primary-color: #d87d4a;
  --aud-primary-color-light: #fbaf85;
  --aud-black-soft: #101010;
  --aud-gray: #f1f1f1;
  --aud-gray-soft: rgba(245, 245, 245, 0.51);
  --aud-white: #fff;
}

/* ----------- Global Styles ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--aud-primary-color);
  color: var(--aud-white);
}
.btn-primary:hover {
  background-color: var(--aud-primary-color-light);
}

.tablet,
.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (min-height: 451px) and (max-width: 768px) {
  .desktop,
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  .btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .desktop,
  .tablet {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .btn {
    font-size: 0.7rem !important;
  }
  .container {
    padding: 0 10px !important;
  }
  .flex-col {
    padding: 10px 0px !important;
  }
}
/* ----------- Header ----------- */
.header {
  height: 80px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aud-black-soft);
  z-index: 500;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1.3px solid rgba(204, 204, 204, 0.13);
}
.header h1 {
  color: var(--aud-white);
  font-size: 1.7rem;
  font-weight: 600;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header ul li {
  list-style: none;
}
.header ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--aud-white);
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.header ul a:hover {
  color: var(--aud-primary-color);
}
.header .cart-icon,
.header .menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--aud-white);
}
.header .menu-icon {
  display: none;
}
@media (min-height: 451px) and (max-width: 768px) {
  .header .menu-icon {
    display: block;
  }
  .header ul {
    display: none;
  }
}

/* ----------- Hero Section ----------- */
.hero {
  height: 100vh;
  background-image: url("../assets/home/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero .content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero .content .hero-text {
  height: 50%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.hero .content .hero-text h3 {
  letter-spacing: 10px;
  color: var(--aud-gray-soft);
  font-size: 0.8rem;
  font-weight: 300;
}
.hero .content .hero-text h1 {
  color: var(--aud-white);
  font-size: 3rem;
}
.hero .content .hero-text p {
  color: var(--aud-gray);
  font-weight: 300;
  max-width: 60%;
  line-height: 1.5rem;
}
.hero .content .hero-text .btn {
  margin-top: 20px;
}
@media (min-height: 451px) and (max-width: 768px) {
  .hero {
    background-image: url("../assets/home/tablet/image-header.jpg");
  }
  .hero .content {
    justify-content: center;
    gap: 10px;
  }
  .hero .content .hero-text {
    max-width: 60%;
    align-items: center;
  }
  .hero .content .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero .content .hero-text p {
    text-align: center;
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .hero {
    background-image: url("../assets/home/mobile/image-header.jpg");
  }
  .hero .content {
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .hero .content .hero-text {
    max-width: 100%;
    width: 100%;
  }
  .hero .content .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero .content .hero-text p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}

/* ----------- Categories  ------------ */
.categories {
  padding: 80px 0;
}
.categories .grid-display {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.categories .grid-display .category {
  min-height: 280px;
  border-radius: 5px;
  position: relative;
}
.categories .grid-display .category .category-image {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 5;
}
.categories .grid-display .category .category-image img {
  width: 60%;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.categories .grid-display .category .category-text {
  gap: 4px;
  height: 70%;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--aud-gray);
}
.categories .grid-display .category .category-text .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 5rem;
}
.categories .grid-display .category .category-text h3 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.categories .grid-display .category .category-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
.categories .grid-display .category .category-text a p {
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.categories .grid-display .category .category-text a .forward-icon {
  color: var(--aud-primary-color);
}
.categories .grid-display .category .category-text a:hover {
  color: var(--aud-primary-color);
}
@media screen and (max-width: 768px) {
  .categories .category {
    min-height: 250px !important;
  }
  .categories .category-image img {
    width: 90% !important;
  }
  .categories .text {
    margin-top: 4rem !important;
  }
}
@media (max-width: 450px) {
  .categories .grid-display {
    grid-template-columns: repeat(1, 1fr);
  }
  .categories .category {
    min-height: 250px !important;
  }
  .categories .category-image img {
    width: 60% !important;
  }
  .categories .text {
    margin-top: 5rem !important;
  }
  .categories .text h3 {
    font-size: 0.8rem !important;
  }
}

/* ---------- Showcase Area 1 --------- */
.speaker-showcase {
  padding: 80px 0 20px 0;
  margin: 0px 10px;
}
.speaker-showcase .showcase-area {
  height: 70vh;
}
.speaker-showcase .showcase-area .display-grid {
  height: 100%;
  display: grid;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: bottom left;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--aud-primary-color);
  background-image: url("/assets/img/pattern-circles.svg");
}
.speaker-showcase .showcase-area .display-grid .speaker-img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.speaker-showcase .showcase-area .display-grid .speaker-img img {
  width: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.speaker-showcase .showcase-area .display-grid .text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.speaker-showcase .showcase-area .display-grid .text h1 {
  color: #fff;
  font-size: 2rem;
}
.speaker-showcase .showcase-area .display-grid .text p {
  color: #f1f1f1;
  font-weight: 300;
  max-width: 70%;
  font-size: 0.9rem;
  margin: 1rem 0rem;
}
.speaker-showcase .showcase-area .display-grid .text .btn {
  background-color: #fff;
  color: var(--aud-primary-color);
}
.speaker-showcase .showcase-area .display-grid .text .btn:hover {
  background-color: var(--aud-black-soft);
  color: var(--aud-white);
}
@media screen and (max-width: 768px) {
  .speaker-showcase .showcase-area {
    min-height: 60vh;
    height: auto;
  }
  .speaker-showcase .showcase-area .display-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .speaker-showcase .showcase-area .display-grid img {
    max-width: 40%;
    padding: 20px 0px;
  }
  .speaker-showcase .showcase-area .display-grid .text div {
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }
  .speaker-showcase .showcase-area .display-grid .text div .product-name {
    padding: 10px 0;
  }
}
@media (max-width: 450px) {
  .speaker-showcase .showcase-area .display-grid {
    padding: 20px 0 !important;
  }
  .speaker-showcase .showcase-area .display-grid .text .product-name h1 {
    font-size: 1.5rem !important;
    text-align: center !important;
  }
  .speaker-showcase .showcase-area .display-grid p {
    text-align: center !important;
  }
}

/* ---------- Showcase Area 2 --------- */
.showcase-2 {
  padding-bottom: 60px;
}
.showcase-2 .display-grid {
  gap: 20px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.showcase-2 .showcase-area-two {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
  gap: 10px;
  grid-column: span 2/span 2;
}
.showcase-2 .showcase-item-1,
.showcase-2 .showcase-item-2 {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.showcase-2 .showcase-item-1 {
  background-size: cover;
  background-position: center;
  background-image: url("/assets/home/desktop/image-earphones-yx1.jpg");
}
.showcase-2 .showcase-item-2 {
  display: flex;
  padding: 0px 40px;
  align-items: center;
  background-color: var(--aud-gray);
}
.showcase-2 h1 {
  color: var(--aud-black-soft);
  font-weight: 500;
}
.showcase-2 .btn {
  margin-top: 10px;
  background-color: inherit;
  border: 2px solid var(--aud-black-soft);
  text-transform: capitalize;
}
.showcase-2 .btn:hover {
  background-color: var(--aud-black-soft);
  color: var(--aud-white);
}
@media (max-width: 450px) {
  .showcase-2 .display-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .showcase-2 .showcase-area-two {
    padding: 0 20px;
    background-image: url("/assets/home/mobile/image-speaker-zx7.jpg") !important;
  }
  .showcase-2 .showcase-item-1 {
    padding: 10px 0px !important;
  }
}

/* ---------- Showcase Area 3 --------- */
.showcase-3 {
  padding-bottom: 60px;
}
.showcase-3 .display-grid {
  gap: 50px;
  display: grid;
  align-items: center;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.showcase-3 .display-grid .text h2 {
  font-weight: 600;
  font-size: 2.2rem;
  max-width: 60%;
  text-transform: uppercase;
}
.showcase-3 .display-grid .text h2 span {
  color: var(--aud-primary-color) !important;
}
.showcase-3 .display-grid .text p {
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #868686;
}
.showcase-3 .display-grid .bg-about {
  height: 400px;
}
.showcase-3 .display-grid .bg-about img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -o-object-position: center;
     object-position: center;
}
@media (min-height: 451px) and (max-width: 768px) {
  .showcase-3 .display-grid {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .showcase-3 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .showcase-3 .text h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  .showcase-3 .text p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .showcase-3 .text h2 {
    font-size: 1.5rem !important;
  }
}

/* ------------------------ Products ---------------------------- */
.headphones,
.speakers {
  background: var(--aud-black-soft);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headphones h1,
.speakers h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--aud-white);
}

.headphones-items,
.product-details {
  padding: 80px 0;
  /* -------- Media Queries -------- */
  /* Tablet */
  /* Mobile */
  /* Extra small screens */
}
.headphones-items .shop-item,
.headphones-items .shop-item-reverse,
.product-details .shop-item,
.product-details .shop-item-reverse {
  display: flex;
  gap: 80px;
  margin: 20px 0;
  flex-wrap: wrap;
}
.headphones-items .shop-item .pdt-img,
.headphones-items .shop-item-reverse .pdt-img,
.product-details .shop-item .pdt-img,
.product-details .shop-item-reverse .pdt-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headphones-items .shop-item .pdt-img img,
.headphones-items .shop-item-reverse .pdt-img img,
.product-details .shop-item .pdt-img img,
.product-details .shop-item-reverse .pdt-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.headphones-items .shop-item .about,
.headphones-items .shop-item-reverse .about,
.product-details .shop-item .about,
.product-details .shop-item-reverse .about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 40px;
}
.headphones-items .shop-item .about h3,
.headphones-items .shop-item-reverse .about h3,
.product-details .shop-item .about h3,
.product-details .shop-item-reverse .about h3 {
  letter-spacing: 6px;
  color: var(--aud-primary-color-light);
  font-size: 0.8rem;
  font-weight: 300;
}
.headphones-items .shop-item .about h1,
.headphones-items .shop-item-reverse .about h1,
.product-details .shop-item .about h1,
.product-details .shop-item-reverse .about h1 {
  color: var(--aud-white);
  font-size: 3.5rem;
}
.headphones-items .shop-item .about p,
.headphones-items .shop-item-reverse .about p,
.product-details .shop-item .about p,
.product-details .shop-item-reverse .about p {
  color: #555;
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.headphones-items .shop-item .about .price,
.headphones-items .shop-item-reverse .about .price,
.product-details .shop-item .about .price,
.product-details .shop-item-reverse .about .price {
  font-size: 1rem;
  font-weight: 500;
}
.headphones-items .shop-item .about .btn,
.headphones-items .shop-item-reverse .about .btn,
.product-details .shop-item .about .btn,
.product-details .shop-item-reverse .about .btn {
  margin-top: 20px;
}
.headphones-items .shop-item-reverse,
.product-details .shop-item-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 1024px) {
  .headphones-items .shop-item,
  .headphones-items .shop-item-reverse,
  .product-details .shop-item,
  .product-details .shop-item-reverse {
    flex-direction: column;
    gap: 40px;
  }
  .headphones-items .pdt-img, .headphones-items .about,
  .product-details .pdt-img,
  .product-details .about {
    flex: none;
    width: 100%;
  }
  .headphones-items .about h1,
  .product-details .about h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .headphones-items,
  .product-details {
    padding: 60px 0;
  }
  .headphones-items .shop-item,
  .headphones-items .shop-item-reverse,
  .product-details .shop-item,
  .product-details .shop-item-reverse {
    gap: 30px;
  }
  .headphones-items .about h1,
  .product-details .about h1 {
    font-size: 2rem;
  }
  .headphones-items .about p,
  .product-details .about p {
    font-size: 0.85rem;
  }
}
@media (max-width: 450px) {
  .headphones-items,
  .product-details {
    padding: 40px 0;
  }
  .headphones-items .about h1,
  .product-details .about h1 {
    font-size: 1.8rem;
  }
  .headphones-items .about p,
  .product-details .about p {
    font-size: 0.8rem;
  }
}

/* -------------------- Product Details ------------------------ */
.product-details {
  padding: 80px 0;
}
.product-details .add-to-cart {
  display: flex;
  gap: 10px;
}
.product-details .add-to-cart .btn-cart {
  background-color: rgba(230, 230, 230, 0.6235294118) !important;
  display: flex !important;
  align-items: center !important;
  gap: 20px;
  padding: 0 20px !important;
  justify-content: space-between !important;
}
.product-details .add-to-cart .btn-cart .icon {
  color: #ccc !important;
}
.product-details .add-to-cart .btn-cart .icon:hover {
  color: var(--aud-primary-color) !important;
}
.product-details .product-content {
  display: flex;
  margin-top: 50px;
  gap: 80px;
}
.product-details .product-content h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.product-details .product-content p {
  font-size: 0.9rem;
  color: #717171;
  font-weight: 400;
  margin-top: 20px;
}
.product-details .product-content .feat-data {
  max-width: 70%;
}
.product-details .product-content .box-data {
  flex: 1;
  width: 100%;
}
.product-details .product-content .box-data ul {
  margin-top: 1rem;
  list-style: none;
}
.product-details .product-content .box-data ul li div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.product-details .product-content .box-data ul li div .q {
  color: var(--aud-primary-color);
  font-size: 0.85rem;
  margin-right: 3rem;
}
.product-details .product-content .box-data ul li div .item {
  font-size: 0.85rem;
  color: var(--aud-black-soft);
}
@media (max-width: 768px) {
  .product-details {
    padding: 40px 10px;
  }
  .product-details .feat-data {
    max-width: 100% !important;
  }
  .product-details .product-content {
    flex-direction: column;
    gap: 30px;
  }
  .product-details h3 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .product-details p {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .product-details {
    padding: 40px 10px !important;
  }
}/*# sourceMappingURL=main.css.map */